# .gitignore for CopyQ application data files
**/copyq_*.dat
**/copyq_*.ini
**/copyq_*.ini.lock
**/copyq-*.ini
**/.copyq_s
**/copyq.lock
**/copyq.pub

# vscode files, but we keep settings and keybindings
**/vscode/
!**/keybindings.json
!**/settings.json